
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding: 20px;
    --blur:0px;
    --base:rgb(221, 231, 71);
    --width: 50%;
    --border-radius: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f6f6f6;
}

.container{
    border-radius: 20px;
    background: linear-gradient(to top, #29d473,#0788bb);
    box-shadow: 20px 15px 10px 10px rgb(131, 153, 131);
    padding: 3rem;
}

h1{
    font-size: 2rem;
    color: navajowhite;
    margin-bottom: 1rem;
}

.heading{
    font-size: 2rem;
    color: var(--base);
    /* margin-bottom: 1rem; */
    font-weight: 800;
}

.css-controller{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
}

label{
    padding: 1rem;
    font-size: 1rem;
    color: navajowhite;
    margin-top: 0.6rem;
}

img{
    width: var(--width);
    height: 80%;
    margin-top: 1rem;
    padding: var(--padding);
    filter: blur(var(--blur));
    background-color: var(--base);
    border-radius: var(--border-radius);
    transition: filter 2s, background-color 1s ease-in-out;
}

input[type="color"]{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
};

.css-controller input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}
.css-controller input[type="color"]::-webkit-color-swatch-wrapper{
   padding: 0;
}

.css-controller input[type="range"]{
    width: 100%;
}